.formulario__turnos {
    background-color: aliceblue;
  }
  .form-group {
    width: 70%;
    padding: 10px;
  }
 .vetBorder {
  border: 1px solid #eee;
 }
 .vetBorderSeleccionado {
  border: 1px solid red;
 }
  

