
  
.imagenesContorno--Aside {
  width: 350px;
  height: 150px;
}
.sectionV__titulo {
  font-family: 'SansitaSwashed', cursive;
  padding: 45px;
}
.sectionV__texto {
  text-align: center;
  width: 50%; 
  float: left;
}
.sectionV__imagen {
  width: 50%;
  float: left;
  height: 320px;
}
.section__background {
 background-color: #ddd;
}