

.sectionV__titulo {
  font-size: 50px;
  padding: 45px;
  font-family: AustieBostKittenKlub;
}
.sectionV__info {
 
  width: 50%; 
  float: left;
}
.sectionV__tecto {
  text-align: left;
  margin-right: 20px;
}
.sectionV__imagen {
  width: 320px;
  float: left;
  height: 320px;
}
.section__background {
 background-color: #ddd;
}

.lineaH {
  border: 0;
  height: 3px;
  background: #333;
  background-image: linear-gradient(to right, #ccc, #333, #ccc);
}