.nav__background {
    background-color: white;
    position: sticky;
}
.nav__background li:hover {
       background-color: #EDF6E4;
    }
.nav__espacios {
      padding-left: 25px !important;
       }