
.requisitos__parrafo {
    text-shadow:2px 2px 5px red;
    font-size: 20px;
}

.peluqueria__parrIntro {
    width: 70%; 
    margin: auto;
}

.peluqeuria__bordes {
    border-style: double;
}
.peluqueria__imagenes  {
    width: 17rem;
    height: 11rem;
}