#sinEspacio {
    padding: 0px;
    margin: 0px;
  }
  .espacios {
    margin: 15px;
  }
  .centerText {
      text-align: center;
  }
  .margenTexto {
    margin-bottom: -3.0rem;
  }
  .listaSinesqtilo {
    list-style: none;
  }
  .imagenesContorno {
    border: 2px solid white;
    border-radius: 10px 10px 10px 10px ;
}
.fontSize {
  font-size: 20px; 
}
.margenIndex {
  margin-bottom: 25px;
  padding-bottom: 35px;
}
