@import "index";
@import "header";
@import "formulario";
@import "footer";
@import "retoques";
@import "tienda";
@import "peluqueria";
@import "carrito";


* {
    box-sizing:border-box;
    
}

body {
    
    overflow-x: hidden !important ;
    scroll-behavior: smooth !important;
  
}


